<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ups Tracking</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>UPS TRACKING</h1>
    </header>
    <div class="container">
        <div id="input_box">
            <h2>INPUT</h2>
            <form id='trk_form' action='/track/act' method="post">
                <Textarea id="inp" cols="50" rows='25' name="trk_list" placeholder="Enter Tracking ID Here..."></Textarea>
                <button>Track</button>
            </form>
        </div>
        
    </div>


    <script src="/js/script.js"></script>
</body>
</html>